
.card{
  width: 22rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 27em;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.card:hover{
  background-color: white;
  color: palevioletred;
}
.mainSection{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  padding: 10px;
  margin-left:50px;
}


.cardImage{
  height: 65%;
  object-fit: cover; 
  border-radius: 15px;
}

.rating, .ratingOG{
  display: flex;
  flex-direction: row;
  display: inline-block;
}
.ratingOG{
  margin-left:50px
}
.price{
  display: flex;
  flex-direction: row;
  font-size: 17px;
  display: inline-block;
  margin-right: 20px;
}
.lowerDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
  color:black;
}
.lowerDiv:hover{
  transform: scale(1.1);
  transition: 1s;
}
.firstLine{
  display: grid;
  grid-template-columns: 80px 80px;
  height: 40px;
}

.secondLine{
  margin-top: 10px;
  height: 40px;
  margin: 0;
}
.icon{
  margin-right: 15px;
}

.iconWidth{
  width: 0.5em;
  margin-right: 10px;
  height: 1.0em;
}
.customEditFLine{
  font-size: 15px;
  overflow:hidden;
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis;
  margin-left:0px;
  float:left;
}
.customEditSLine{
  font-size: 15px;
  overflow: hidden; /* Hide any content that overflows */
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis;
  float:left;
}
.typeof{
  overflow: hidden; /* Hide any content that overflows */
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis;
}
.thirdLine{
  display: flex;
  flex-direction: row;
  height: 90px;
  gap: 90px;
}
.vegnonveg{
  font-size: 11px;
  display: inline-block;
}
.block1{
  display: grid;
  grid-template-rows: 40px 40px;
}
.customEditTLine{
  font-size: 14px;
  margin-top: 40px;
}
.mainOuter{
padding: 8px 8px;
background-color: aqua;
}
h3,h4,h5,strong{
  text-decoration: none;
}
