/* Styles for the filter button */
button {
  font-size: 16px;
  background-color: #FF90BC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  height: 40px;
  width: 100px;
}

button:hover {
  background-color: #8ACDD7;
}

/* Styles for the filter container */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 200px;
}

/* Styles for each filter section */
.filter-section {
  flex: 1 1 45%; /* Adjust width of filter sections */
  margin-bottom: 10px;
}

/* Styles for labels */
label {
  font-weight: bold;
}

/* Styles for select dropdowns */
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

/* Styles for options within select dropdowns */
select option {
  padding: 5px;
}

/* Styles for the default option */
select option:first-child {
  color: #999;
}

